@import '~@/assets/styles/variables';

.app-table {
  background: white;
  overflow-x: scroll;
}

.app-table__row {
  display: flex;
}

.app-table__cell {
  position: relative;
  flex: 0 0 auto;
  width: 80px;
  padding: 4px 8px;
  border-right: 1px solid $color-secondary;
  border-bottom: 1px solid $color-secondary;
  user-select: none;

  &--header {
    background: lighten($color-primary, 70%);
  }

  &:first-child {
    flex-basis: 40px;
    text-align: center;
  }

  &.selected {
    background: lighten($color-primary, 60%);
  }
}
