@import '~@/assets/styles/variables';

.ex-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  font-size: 20px;
  line-height: 20px;
  color: white;
  background: transparent;
  border: 2px solid $color-primary;
  background: $color-primary;
  border-radius: 4px;
  transition: background-color .2s;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  outline: none;

  .material-icons {
    font-size: inherit;
  }

  &:hover {
    background: darken($color-primary, 10%);
  }

  &:active {
    background: $color-primary;
  }

  &:focus {
    border-color: $color-secondary;
  }

  &--size-s {
    padding: 4px;
    font-size: 16px;
    line-height: 16px;
  }
}
