@import '~@/assets/styles/variables';

.resize {
  position: absolute;
  background: transparent;
  transition: background-color 0.2s;
  z-index: 5;

  &:hover {
    background: $color-primary;
  }

  &--highlight {
    background: $color-primary;
  }

  &--col {
    top: 0;
    right: 0;
    bottom: 0;
    width: 6px;
    cursor: col-resize;
  }

  &--row {
    left: 0;
    right: 0;
    bottom: 0;
    height: 6px;
    cursor: row-resize;
  }
}
